extends layout

block content
    div(ng-show="isUserNull()")
        input(ng-model="name" ng-enter="setUser($name)")
    div(ng-hide="isUserNull()") This is recorder
        div
            button(ng-click="startRecord()") {{state}}
            button(ng-click="rec()") start
            button(ng-click="stop()") stop
            video(id="source" style="width: 300px; height: 250px;" autoplay controls)
            video(id="dest" style="width: 300px; height: 250px;" autoplay controls)
            iframe(ng-src="{{frameUrl}}" style="width: 900px; height: 300px;")
